---
layout: default
---

<!--
<div class="content">
	<div class="container">
	    <img src="/images/Pengyi.jpg"/ alt="" >
    	<h3>Title</h3>
	    <p>Some Description</p>
    </div>
</div>

<div class="content">
    <img src="/images/Tom.png"/ alt="" >
    <h3>Title</h3>
    <p>Some Description</p>
</div>
-->

<div class="people">
    <div class="container">
        
        <h1 class="people">Lab Members</h1>

        {% for person in site.data.people %}

        <div class="person col-md-5">
            <img src="{{ person.photo }}" alt="photo" class="person-photo img-circle">
            <h3 class="person">{{ person.name }}</h3>
            <p class="person"><font color="#8B0000">{{ person.email }}</font>
            <br>{{ person.role }}
            <br>
            <br>{{ person.program }}
            <br>{{ person.other }}
            <!--<br><br><br>-->
            </p>
		</div>
        {% endfor %}
    </div>
</div>

<!--
<div class="people">
    <div class="container">
        
        <h1 class="people">Alumni</h1>

        {% for person in site.data.alumni %}

        <div class="person col-md-2 col-sm-2 col-xs-12">
            <h3 class="person-role">{{ person.name }}</h3>
            <p class="person-role">{{ person.program }}
            <br>{{ person.role }}
            <br>{{ person.other }}
            <br>{{ person.email }}
            </p>


        </div>

        {% endfor %}

    </div>
</div>
-->

<div class="container">
    <hr>
    <h1 class="people">Alumni</h1>
    <div class="section row">
        <div class="col-md-12">
        <br>
        <ul>
            <li>Yue Cao, PhD (2020-2023), USyd (Auxiliary supervisor)<br><br></li>
            
            <li>Taiyun Kim, PhD (2018-2021), USyd (<a href="https://pyanglab.github.io/Publications/publications_Taiyun.html">Publications</a>)<br><br></li>

            <li>Andy Tran, MPhil (2019-2021), USyd (Auxiliary supervisor)<br><br></li>
            
            <li>Michael Lin, Honours Program (2020), USyd<br><br></li>
            
            <li>Jesenia Lee, Honours Program (2020), USyd<br><br></li>

            <li>Isaac Shipsey, Exchange Program (2018-2019), University of Bath, UK<br><br></li>

            <li>Hao Wu, PhD (2015-2019), USyd (Auxiliary supervisor)<br><br></li>
            
            <li>Irene Chen, Research Assistant (2016-2017), USyd<br><br></li>

            <li>Dinuka Perera, Talented Student Program (2016 and 2017), USyd<br><br></li>
            
            <li>Chendong Ma, Honours Program (2016), USyd (Co-supervisor)<br><br></li>
            
            <li>Kevin Shrestha, Honours Program (2016), USyd (Co-supervisor)<br><br></li>
        </ul>
        </div>
        <br>
    </div>
    <br>
</div>


<!--
9.	Elijah Willie, PhD (2020-present), SoMS, USyd (Auxiliary supervisor)
16.	Linus Foley, Summer Scholarship (2023), CMRI
17.	Tudor Fuca, Summer Scholarship (2023), CMRI
18.	Catherine Zhang, Summer Scholarship (2023), CPC
19.	Jiawang Lin, Honours (2022), SoMS, USyd
20.	Leon Chan, Summer Scholarship (2022), CMRI
23.	Deborah Manandi, Summer Scholarship (2021), CMRI
24.	Mai Linh Nguyen, Summer Scholarship (2021), CPC, USyd
27.	Julian van Gerwen, Summer Scholarship (2020), CPC, USyd
28.	Alan Burzevski, Dalyell Scholars Program (2019), Westmead, USyd
34.	Steven Phan, Summer Scholarship 2015, CPC, USyd (co-supervision with Dr. Rima Chaudhuri)
->
















