<footer class="site-footer navbar navbar-default">

    <div class="container">

        <div class="address">
            <div class="row">
                <div class="col-md-10">
                    <address>
                        <strong>School of Mathematics and Statistics</strong><br>
                        Lab 4, Level 1, Children's Medical Research Institute<br>
						Level 5W, Charles Perkins Centre<br>
                        University of Sydney, NSW 2006<br>
                        <abbr title="Email">E:</abbr> <a href="mailto:pengyi.yang@sydney.edu.au">pengyi.yang [at] sydney.edu.au</a> <br>
                        <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                    </address>

                </div>
               
                    <!--<strong>Find me on</strong>-->
                    <ul class="social-media-list">
                        {% if site.github_username %}
                        <li>
                            {% include icon-github.html username=site.github_username %}
                        </li>
                        {% endif %}

                        {% if site.twitter_username %}
                        <li>
                            {% include icon-twitter.html username=site.twitter_username %}
                        </li>
                        {% endif %}
                    </ul>
                
            </div>
        </div>

       <!-- <div class="copyright row">
                &copy; University of British Columbia -->
        </div>
    </div>
</footer>


<!-- Default Statcounter code for pyanglab https://pyanglab.github.io/ -->
<script type="text/javascript">
var sc_project=12480021; 
var sc_invisible=1; 
var sc_security="48d58032"; 
var sc_https=1; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="free hit counter"
href="https://statcounter.com/" target="_blank"><img class="statcounter"
src="https://c.statcounter.com/12480021/0/48d58032/1/" alt="free hit
counter"></a></div></noscript>
<!-- End of Statcounter Code -->

<!--
     Bootstrap core JavaScript
     Placed at the end of the document so the pages load faster
   -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- CDN for latest core JavaScript (compiled and minified) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
