
<h4 class="news">Recent News</h4>

<font size="3">

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">QCMAP: An Interactive Web‐Tool for Performance Diagnosis and Prediction of LC‐MS Systems. <a href="https://t.co/8BU5Pc2Ukj">https://t.co/8BU5Pc2Ukj</a><br><br>My second first author paper!! Huge thank you to all the authors!!</p>&mdash; Taiyun Kim (@taiyun_kim) <a href="https://twitter.com/taiyun_kim/status/1130644234170699783?ref_src=twsrc%5Etfw">May 21, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Pleased to see our new story officially out. This collaboration between <a href="https://twitter.com/Jothi_Lab?ref_src=twsrc%5Etfw">@Jothi_Lab</a> &amp; <a href="https://twitter.com/labs_mann?ref_src=twsrc%5Etfw">@labs_mann</a> contains a plethora of data (proteomics, phosphoproteomics, RNA-seq and ChIP-seq) for anyone interested in the transition from naive to primed pluripotency. 🤓<a href="https://t.co/0FOJkjn48a">https://t.co/0FOJkjn48a</a> <a href="https://t.co/OPskxWrs56">pic.twitter.com/OPskxWrs56</a></p>&mdash; Andrew Oldfield (@serialChIPer) <a href="https://twitter.com/serialChIPer/status/1126201224502685697?ref_src=twsrc%5Etfw">May 8, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>




{% for post in site.posts limit: 8 %}
<p> <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> </p>
<p>    <a class="post-link" href="{{ post.url }}">{{ post.title }}</a></p>
{% endfor %}


</font>
